---
layout: default
permalink: /
---

<section>
    <div id="owl-mainpage" class="owl-carousel owl-theme">
        {% for photo in site.data.photos %}
            <div class="item"><img src="{{ site.baseurl }}/images/photos/{{ photo.filename }}" alt="Photo"></div>
        {% endfor %}
    </div>
</section>


<div class="row">
    <div class="container">
        <!-- OVERVIEW OF KEY INFORMATION FOR THE CONFERENCE. -->
        <div class="col-md-8">
            <img class="img-fluid" src="{{ site.baseurl }}/images/{{ site.data.main.logo-lg }}" width="100%" alt="eScience"/>
            <h1>{{ site.data.main.dates }}</h1>
            <h2>{{ site.data.main.location }}</h2>
            <p>{{ site.data.main.description }}</p>
        </div>

        <!-- IMPORTANT DATES (E.G., SUBMISSION DEADLINES). -->
        <div class="col-sm-4">
            {% include dates.html %}
        </div>
    </div>
</div>


<div class="sponsors">
    <div class="container">
        {% for kind in site.data.sponsor_kinds %}
            
            <!-- <div class="row"> -->
                <!-- <div class="container"> -->
                    
                    {% if kind != "top" %}
                        <h4 style="margin-top: 2em; margin-bottom: 1em; color: #666; text-transform: capitalize">{{ kind }}</h4>
                    {% endif %}
                    
                    {% for s in site.data.sponsors %}
                        {% if s.kind == kind %}

                                
                                {% if s.link %}
                                    <a href="{{ s.link }}" target="_blank">
                                {% endif %}
                                
                                <img 
                                    class="img-fluid" 
                                    src="{{ site.baseurl }}/images/sponsors/{{ s.image }}" 
                                    alt="{{ s.name }}" 
                                    style="max-width: {{ s.max_width }}px; margin-right: 2em; margin-bottom: 2em;"
                                />
                                
                                {% if s.link %}
                                    </a>
                                {% endif %}


                        {% endif %}
                    {% endfor %}
                    
    
        {% endfor %}
    </div>
</div>