<div id=copyright>
    <div class=container>
        <div class=col-md-12>
            <p class=pull-left style="line-height: 1.3em; margin-right: 4em">
                &copy;{{ site.time | date: "%Y"}} {{ site.edition }} {{ site.title }}.
            </p>
            <p class=pull-left style="line-height: 1.3em">
                <strong>Local Arrangements</strong><br />
                EASY CONFERENCES &mdash;
                <i class="fa fa-phone"></i> (+357) 22 591 900
                <br />
                <a href="http://easyconferences.eu/" target="_blank" style="color: #ccc">
                    <i class="fa fa-link"></i> easyconferences.eu
                </a>&nbsp;&nbsp;
                <a href="mailto:info@easyconferences.eu" style="color: #ccc">
                    <i class="fa fa-envelope"></i> info@easyconferences.eu
                </a>
            </p>
            <p class=pull-right style="font-size: 1.5em">
                <a href="https://twitter.com/escience" target="_blank" style="color: #ccc">
                    <i class="fab fa-twitter"></i></a>
            </p>
        </div>
    </div>
</div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZQBKRTMXE7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ZQBKRTMXE7');
</script>
